{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'qmain/css/bootstrap.min.css'  %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'qmain/css/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'qmain/css/style.min.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
    <style>
      body{
        font-family: 'Roboto', sans-serif;
      }
      .bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
        content: none; }
      .bc-icons-2 .breadcrumb-item.active {
        color: #455a64; }
    </style>
</head>
<body>
  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-md navbar-dark mdb-color scrolling-navbar">
      <div class="container-fluid">

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="mr-auto bc-icons-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a>
                  Courses
                </a>
                <i class="fas fa-caret-right mx-2" aria-hidden="true"></i>
              </li>
              <li class="breadcrumb-item">
                {% if title %}
                  {{ title }}
                {% endif %}
              </li>
            </ol>
          </nav>
        </div>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Right -->
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-default"
                aria-labelledby="navbarDropdownMenuLink-333">
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
              </div>
            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed mdb-color">

      <a class="logo-wrapper waves-effect" style="font-size: 30px; font-weight: 900; color:white;">
        Q-Coder
      </a>
      
      <div class="list-group list-group-flush">
        <a href="{% url 'courses' %}" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-chart-pie mr-3"></i>Courses
        </a>
      {% ifnotequal title 'Courses' %}
        <a href="{% url 'course' course_id %}" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-table mr-3"></i>Tasks</a>
        <a href="{% url 'students' course_id %}" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>Students</a>
      {% endifnotequal %} 
    </div>
    </div>
    <!-- Sidebar -->

  </header>
  <main class="pt-5 mx-lg-5">
    {% block content %}{% endblock %}
  </main>
  <!--Main layout-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
</body>
</html>