{% extends "qmain/base.html" %}
{% block content %}

<div class="container-fluid mt-5">
  <!-- Heading -->
  <!-- <div class="card mb-4 wow fadeIn">
    <div class="card-body d-sm-flex justify-content-between">
      <h5 class="">
        {% if title %}
          {{ title }}
        {% endif %}
      </h5>
      {% if user_is_teacher %}
        <button class="btn btn-flat" data-toggle="modal" data-target="#createCourseModal" id="formButton">Create New Course</button>
      {% endif %}
    </div>
  </div> -->
  <!-- Heading -->

  <!--Grid row-->
  <div class="row wow fadeIn">

    {% if user_is_teacher %}
      <button class="btn btn-danger mx-3 my-3" data-toggle="modal" data-target="#createCourseModal" id="formButton">Create New Course</button>
    {% endif %}
    <!--Grid column-->
    <div class="col-md-12 mb-6">
      
      <!--Grid row-->
      <div class="row">
        
        {% for course in courses %}
        <!--Grid column-->
        <div class="col-md-4 mb-2">

          <!-- Card -->
          <div class="card gradient-card">
              <div class="card-image">

                <!-- Content -->
                <a href="{% url 'course' course.id %}">
                  <div class="text-dark d-flex h-100 mask">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">{{ course.name }}</h3>
                      <p class="lead md-0">Course code: {{ course.code }}</p>
                      <p class="card-text">Entry code: 
                        {% if course.entry_code %}
                        <span>{{ course.entry_code }}</span>
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </a>

              </div>
          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->
        {% endfor %}

      </div>
      <!--Grid row-->
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
  <form id="formcourse" method="POST" action="courses">
  {% csrf_token %}

  <div class="modal fade" id="createCourseModal" tabindex="-1" role="dialog" aria-labelledby="createCourseModal"
    aria-hidden="true">
    
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Create Course</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="form-group">
            <label data-error="wrong" data-success="right" for="defaultForm">Course title</label>
            {{form.name}}
          </div>
          <div class="form-group">
            <label data-error="wrong" data-success="right" for="defaultForm">Course code</label>
            {{form.code}}
          </div>
          <div class="form-group">
            <label data-error="wrong" data-success="right" for="defaultForm">Course description</label>
            {{form.description}}
          </div>
          <div class="form-group">
            <label data-error="wrong" data-success="right" for="defaultForm">Course year</label>
            {{form.year}}
          </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-default">Create course</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  $(document).ready(function() {
    $("#formButton").click(function() {
      $("#formcourse").toggle();
    });
  });
</script>
</div>
{% endblock content %}

