{% extends "qmain/base.html" %}
{% block content %}
<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 light bg-light darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
              Task</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
              Task with exam</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body-->
            <div class="modal-body mb-1">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="text" id="modalLRInput10" class="form-control form-control-sm ">
                <label data-error="wrong" data-success="right" for="modalLRInput10">Title</label>
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix"></i>
                <input type="text" id="modalLRInput11" class="form-control form-control-sm ">
                <label data-error="wrong" data-success="right" for="modalLRInput11"> Task Description </label>
              </div>
              <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script>
                </div>
            </div>
              <div class="text-center mt-2">
                <button class="btn btn-info"> Create Task <i class="fas fa-sign-in ml-1"></i></button>
              </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">

            <!--Body-->
            <div class="modal-body">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="text" id="modalLRInput12" class="form-control form-control-sm ">
                <label data-error="wrong" data-success="right" for="modalLRInput12">Title</label>
              </div>

              <div class="md-form form-sm mb-5">
                <i class="fas fa-lock prefix"></i>
                <input type="text" id="modalLRInput13" class="form-control form-control-sm ">
                <label data-error="wrong" data-success="right" for="modalLRInput13">Task Description</label>
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix"></i>
                <input type="text" id="modalLRInput14" class="form-control form-control-sm ">
                <label data-error="wrong" data-success="right" for="modalLRInput14">Deadline</label>
              </div>
              <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix"></i>
                <input type="text" id="modalLRInput14" class="form-control form-control-sm ">
                <label data-error="wrong" data-success="right" for="modalLRInput14">Upload File</label>
              </div>

              <div class="text-center form-sm mt-2">
                <button class="btn btn-info">Create <i class="fas fa-sign-in ml-1"></i></button>
              </div>

            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--/.Panel 8-->
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login / Register Form-->
<div class="container-fluid mt-5">
  <!-- Heading -->
  <div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

      <h4 class="mb-2 mb-sm-0 pt-1">
        {% if title %}
        <span>{{ title }}</span>
        {% endif %}
      </h4>

      <form class="d-flex justify-content-center">
        <!-- Default input -->
        <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
        <button class="btn btn-primary btn-sm my-0 p" type="submit">
          <i class="fas fa-search"></i>
        </button>

      </form>

    </div>

  </div>
  <!-- Heading -->
  <div class="row wow fadeIn">
    <!--Grid column-->
    <div class="col-md-12 mb-6">
      <div class="text-center">
        <a href="" class="btn btn-danger btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">Add Task</a>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Deadline</th>
          </tr>
        </thead>
        <tbody>    
        {% for task in tasks %}
          <tr>
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.deadline }}</td>
          </tr>  
        {% endfor %}
        </tbody>
      </table> 
    </div>
  </div>
</div>      
{% endblock content %}
