{% extends "qmain/base_in_course.html" %}
{% block content %}
<!--Grid row-->
<div class="row">
  
  {% for course in courses %}
  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

          <!-- Content -->
          <a href="#!">
            <div class="text-white d-flex h-100 mask aqua-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">{{ course.name }}</h3>
                <p class="lead mb-0">{{ course.code }}</p>
              </div>
            </div>
          </a>

        </div>
    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->
  {% endfor %}

</div>
<!--Grid row-->
{% endblock content %}