{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">  
    <div class="col-sm"></div>
    <div class="col-sm">
        <form class="border border-light p-5" method="POST">
            {% csrf_token %}
            <p class="h4 mb-4 text-center">Sign in</p>
            {{form|crispy}}
            <div class="d-flex justify-content-between">
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div>
                    <a href="">Forgot password?</a>
                </div>
            </div>
        
            <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
        
            <div class="text-center">
                <p>Not a member?
                    <a href="{% url 'register' %}">Register</a>
                </p>
            </div>
        </form>
    </div>
    <div class="col-sm"></div>
</div>
{% endblock content %}